*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/codeStyles/Project.xml
.idea/gradle.xml
.idea/runConfigurations.xml
app/build.gradle
*.pro
*.jar
gradle/wrapper/gradle-wrapper.properties
*.properties
app/src/test/java/com/example/tejon/isstracker/ExampleUnitTest.java
gradlew
gradlew.bat
.idea/misc.xml
app/src/androidTest/java/com/example/tejon/isstracker/ExampleInstrumentedTest.java
